*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
html, body{
    box-sizing: content-box;
}
::-webkit-scrollbar {
    display: none;
}
html:before {
    left: 0;
}
html:after, html:before {
    content: "";
    will-change: top left;
    backface-visibility: hidden;
    position: fixed;
    top: 0;
    height: 100%;
    width: 20px;
    background: #fff;
    z-index: 21000;
}
body:before {
    position: static;
  }
html:after {
    right: 0;
}

body{
    font-family: 'Press Start 2P', cursive; 

    box-sizing: border-box;
    
}
body:after {
    bottom: 0;
}
body:after, body:before {
    content: "";
    will-change: top left;
    backface-visibility: hidden;
    position: fixed;
    left: 0;
    width: 100%;
    height: 20px;
    background: #fff;
    z-index: 30000;
}
*, :after, :before {
    box-sizing: border-box;
}


 .page-wrapper {
     @apply w-full relative p-[20px] box-border;
    min-height: calc(100vh - 20px);
}
 .page{
  @apply max-w-[1200px] mx-auto relative pt-[100px];
}
 .page-header{
     @apply min-h-screen mx-auto w-full; 
 }
.nav-span{
    @apply  max-w-[300px] ;
    font-size: clamp(36px, 5vw, 65px);
}

 .text-with-outline {
    color: black;
    transition: text-shadow 0.3s ease;
  }
  
  .text-with-outline:hover {
    color:#fff;
    text-shadow: 0 0 10px black;
  }